<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Resume Scanner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&subset=latin,devanagari'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="static/css/landing.css" onload="document.body.classList.add('css-loaded')">

</head>

<!-- partial:index.partial.html -->
<body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

  <header class="navbar-fixed">
    <nav class="row" style="background-color: #773d0b !important;">
      <div class="col s12">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo" style="padding-left: 20px;"><img src="logo.webp" alt="Resume" height="50"></a>
          <ul class="right">
            <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#about"><i class="fa fa-info-circle"></i> About</a></li>
            <li><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="valign-wrapper">
    <div class = "text">
    <span class="container brown-text text-lighten-1 ">
      <p class="flow-text">Welcome to</p>
      <h1 class="title" style="color: #773d0b !important;">Our Resume Scanner</h1>
      <p class="text-gray-600 mb-8">
        Find the Perfect Job or Candidate with Ease
        <br><br>
        At (website name), we bridge the gap between job seekers and recruiters by leveraging advanced
        technology to streamline the hiring process.
        <br><br>
        <span class="font-bold">For Job Seekers:</span> Upload your resume and discover how well it matches
        job descriptions. Get personalized insights to optimize your profile and land your dream job.
        <br><br>
        <span class="font-bold">For Recruiters:</span> Quickly analyze multiple resumes and find the most
        suitable candidates for your roles.
        <br><br>
        Simplify your job search and recruitment process today!
    </p>

    <div class="button-container">
      <a href="/login"><button class="btn-login">Login</button></a>
  
      <a href="/recruiter-or-jobseeker"><button class="btn-signup">Sign Up</button></a>
  </div>  
  </div>
  <!-- Image -->
  <div class="Image">
    <img src="static/images/L.jpg" alt="Intro Image" class="rounded-lg shadow-lg border-4 border-stone-400">
</div>

    </span>

  </main>
  <nav>
    <footer class="page-footer" style="background-color: #783813;">
      <div class="footer-copyright" style="background-color: #783813 #9c562d;">  
     
    </div>
  </footer>

<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script><script  src="static/javascript/landing.js"></script>

</body>
</html>
